.headerBackground {
  background-color: var(--main-color); 
  width: 100%; 
}

.headerContainer {
  display: flex;
  justify-content: space-between; 
  padding: 2.15rem 1rem;
  max-width: 1200px;
  margin: 0 auto; 
}

.navBarContainer {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

.siteNavigation {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.link {
  margin-right: 2rem; 
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: var(--white-color);
}

.link:hover {
  color: var(--dark-orange-color);
}