.featuresContentContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: left;
  margin: 0 auto 7rem auto;
  padding: 0 2rem;
  gap: 2rem;
}

.featuresContentContainer > div {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .featuresContentContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 3rem auto;
  }
}