.heroContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 12rem 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/assets/images/home/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroContent {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 
  flex-direction: column;
  text-align: left;
}

.heroTitle {
  margin-top: 1rem;
  text-transform: uppercase;
}

.heroText {
  margin: 1.5rem 0;
}
