.button {
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
 }
 /** Buttons colors **/
 .darkOrange {
  background-color: var(--dark-orange-color); 
  color: var(--white-color);
 }
 
 .black {
  background-color: var(--black-color);
  color: var(--white-color);
 }

 .transparentColor {
  background-color: none;
  border: 1px solid var(--black-color);
  color: var(--white-color);
 }
 
 /** HOVER colors **/

 .darkOrange:hover {
  background-color: var(--accent-color); 
 }