.galleryContainer {
  max-width: 75rem; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
  padding: 1rem; 
}

.galleryImageSmallContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.galleryImage {
  width: 100%;
  max-width: 37.5rem; 
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
}

.galleryImageSmall {
  width: 100%;
  max-width: 37.5rem; 
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
}

/* Media Queries for Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .galleryImage,
  .galleryImageSmall {
    max-width: 31.25rem;
  }
}

/* Media Queries for Mobile View */
@media (max-width: 767px) {
  .galleryContainer {
    flex-direction: column;
    align-items: center;
  }

  .galleryImageSmallContainer {
    flex-direction: column;
    justify-content: center;
  }

  .galleryImage,
  .galleryImageSmall {
    max-width: 25rem;
  }
}