.navBarBackground {
  background-color: var(--header-footer-background-color); 
  width: 100%; 
}

.navBarContainer {
  display: flex;
  justify-content: space-between; 
  padding: 2.15rem 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 
}

.siteNavigation {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 2rem; 
  font-weight: bold;
  font-size: .8rem;
  text-decoration: none;
  color: var(--white-color);
}